<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <title>移库跟踪查询</title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-page-header">
            <div class="pagewrap">
                <span class="layui-breadcrumb">
                  <a href="">首页</a>
                  <a href="">数据中心</a>
                  <a><cite>移库跟踪查询</cite></a>
                </span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="form-box">
                        <div class="layui-form layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-form-mid">过滤条件:</div>
                                <div class="layui-input-inline" style="width: 120px;">
                                  <input type="text" autocomplete="off" class="layui-input" id="qrySHopData">
                                </div>
                                
                                
                                <button class="layui-btn layui-btn-blue" id="qryShopListBtn">查询</button>
                            </div>
                        </div>
                        <table id="demo"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/layui.all.js"></script>
    <script src="./js/jqydata.js"></script>
    <script src="../js/_URL.js"></script>
    <script>
      var element = layui.element;
    var table = layui.table;
    var form = layui.form;
    var $ = layui.$;
    var $layer = layui.layer;
    var laydate = layui.laydate;
    var QRYShopListArr = [];
    var userDate = "";
    var url = _url();
    var serverCode = _serverCode();


    //展示已知数据
    $("#qryShopListBtn").click(function(){
      qryShopListDate(userDate.UserID,"Qry_fkjlhz","","",$("#qrySHopData").val(), url,serverCode, function (date, ShopListArr1) {
        table.render(date);
        QRYShopListArr.ShopListArr1;
      });
    })

    function init(){
      userDate = JSON.parse(window.sessionStorage.getItem("userNameList"));
    }
    init();
    </script>
</body>
</html>