<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../assets/css/layui.css">
  <link rel="stylesheet" href="../../assets/css/view.css" />
  <link rel="stylesheet" href="../../assets/css/tankuang.css" />
  <link rel="icon" href="/favicon.ico">
  <title>支付管理</title>
  <style>
  </style>
</head>

<body class="layui-view-body">
  <div class="layui-row">
    <div class="layui-content">
      <div class="layui-row">
        <div class="layui-card">
          <div class="layui-card-body">
            <div class="form-box">
              <div class="layui-form layui-form-item" id="kanjianBox"></div>
              <table id="demo"></table>
            </div>
          </div>
        </div>
      </div>
      <div id="rongqi1">

      </div>
    </div>
    <script src="../../assets/layui.all.js"></script>
    <script src="../../assets/jquery.js" type="text/javascript"></script>

    <script src="./kongjianFZ/zezhaoceng.js"></script>
    <script src="./kongjianFZ/djbhOrgwid.js"></script>
    <script src="./kongjianFZ/jiaoyan.js"></script>
    <script src="./kongjianFZ/tableZDY1.js"></script>
    <script src="./kongjianFZ/ziJianFZ.js"></script>

    <script src="../js/_URL.js"></script>
    <script>
      var table = layui.table;
      var $ = layui.$;
      var url = _url();
      var isshow = true;
      var url1 = _urlJson();
      var serverCode = _serverCode();
      let listDate = "";

      let dataListTC = {
        id: { "title": "通讯流水", "disable": true, "width": 180, "sort": true, "background": "#009688", "color": "#fff" },
        dept: { "title": "所在部门", "disable": true, "width": 100, "sort": true, "background": "", "color": "" },
        userName: { "title": "人员名称", "disable": true, "width": 100, "sort": true, "background": "", "color": "" },
        address: { "title": "地址", "disable": true, "width": 180, "sort": true, "background": "", "color": "" },
        phone: { "title": "手机号", "disable": true, "width": 150, "sort": true, "background": "", "color": "" },
        memo: { "title": "备注", "disable": true, "width": 180, "sort": true, "background": "", "color": "" },
      }

      function shopListCKClick1(index) {
        $("#dowmBox").empty();
        let InputStyleMy2 = inputStyle1("通讯流水", "tijiaoshuju1", "请输入过滤条件", listDate[index].id);
        let InputStyleMy3 = inputStyle1("所在部门", "tijiaoshuju2", "请输入过滤条件", listDate[index].dept);
        let InputStyleMy4 = inputStyle1("人员名称", "tijiaoshuju3", "请输入过滤条件", listDate[index].userName);
        let InputStyleMy5 = inputStyle1("地址", "tijiaoshuju4", "请输入过滤条件", listDate[index].address);
        let InputStyleMy6 = inputStyle1("手机号", "tijiaoshuju5", "请输入过滤条件", listDate[index].phone);
        let InputStyleMy7 = inputStyle1("备注", "tijiaoshuju6", "请输入过滤条件", listDate[index].memo);
        let ButtonStyleMy3 = ButtonStyle("修改信息", 0, "", "ceshiBtn2");
        $(InputStyleMy2 + InputStyleMy3 + InputStyleMy4 + InputStyleMy5 + InputStyleMy6 + InputStyleMy7+ ButtonStyleMy3).appendTo("#dowmBox");
        var $input = document.getElementById("zezhaoceng4");
        $input.style.display = "block";
      }

      function ceshiBtn2(){
        var data = "ID="+$("#tijiaoshuju1").val()+
                    "&dept="+$("#tijiaoshuju2").val()+
                    "&phone="+$("#tijiaoshuju5").val()+
                    "&memo="+$("#tijiaoshuju6").val()
        $GetJson(data, "lxfsupdate", function (date) {
          $layer.msg('修改成功', {icon: 6});
          setTimeout(function () {
            window.location.reload()
          }, 1000);
         
        });
      }

      function shopListCKClick2(index) {
        if (!window.confirm("确认删除<"+listDate[index].id+">联系方式吗?")) {
          return;
        }
        var data = "ID="+listDate[index].id;
        $GetJson(data, "lxfsDelete", function (date) {
          $layer.msg('删除成功', {icon: 6});
          init();
        });
      }
      function ceshiBtn() {
        alert("过滤条件:" + $("#guolutiaojian").val())
      };

      function RoleListWDate() {
        var data = "";
        $GetJson(data, "lxfsselect", function (date) {
          listDate = date;
          let dateListM = xuliehuaArr(date, true, 2, [2, "shopListCKClick1", "&#xe705;", "测试"], [3, "shopListCKClick2", "", ""], dataListTC, false, "#demo");
          table.render(dateListM);
        });
      }

      function init() {
        
        $("#kanjianBox").empty();
        let zzc = zezhaochengBox1("zezhaoceng4", "通讯录详情", "dowmBox");
        $(zzc).appendTo("#rongqi1");
        let InputStyleMy = inputStyle("过滤条件", "guolutiaojian", "请输入过滤条件");
        let ButtonStyleMy1 = ButtonStyle("查询按钮", 0, "", "ceshiBtn");
        $(InputStyleMy + ButtonStyleMy1).appendTo("#kanjianBox");
        RoleListWDate();
      }
      init();
    </script>
</body>

</html>