<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../assets/css/layui.css">
  <link rel="stylesheet" href="../../assets/css/view.css" />
  <link rel="stylesheet" href="../../assets/css/tankuang.css" />
  <link rel="icon" href="/favicon.ico">
  <title>支付管理</title>
  <style>
    .beijingCeng_t {
      word-wrap: break-word;
      word-break: break-all;
      overflow: hidden;
      width: 70%;
      margin-left: 15%;
      height: 450px;
      position: fixed;
      top: 45%;
      margin-top: -200px;
      background: #fff;
      border-radius: 10px;
      overflow: scroll;
    }
    .el-textarea__inner2 {
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  }
  .el-textarea__inner {
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  }

   
  </style>
</head>

<body class="layui-view-body">
  <div class="layui-row">
    <div class="layui-content">
      <div class="layui-row">
        <div class="layui-card">
          <div class="layui-card-body">
            <div class="form-box">
              <div class="layui-form layui-form-item" id="kanjianBox"></div>
              <table id="demo"></table>
            </div>
          </div>
        </div>
      </div>
      <div class="zezhaoceng3" id="zezhaoceng3">
        <div class="beijingCeng_t" style=" word-wrap: break-word;  word-break: break-all;  overflow: hidden;">
          <div id="beijingCengBtn3"
            style="position: absolute;z-index: 88;right: 13px;top: 10px;color:red;width: 20px;height: 20px;">
            <i class="layui-icon" style="font-size: 30px;">&#x1007;</i>
          </div>
          <div class="layui-row">
            <div class="layui-card">
              <div class="layui-card-body">

                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;" id="t_bt">
                  <legend><i class='layui-icon'>&#xe6b2;</i>审核意见</legend>
                </fieldset>
                <div id="img" class="layui-col-xs5"
                  style="margin-right: 20px;  background-color: #ffffff;text-align: left;vertical-align: middle;overflow: auto;"><div style="height: 30px;line-height: 30px;margin-top: 20px;">
                  <div style="width: 25%;text-align: right;float: left; display: none;">申请人：</div>
                    <div style="float: left;" id="shrLsld"></div>
                  </div>
                  <div style="height: 30px;line-height: 30px;margin-top: 20px;">
                    <div style="width: 25%;text-align: right;float: left;">收货人：</div>
                    <div style="float: left;" id="shrName"></div>
                  </div>
                  <div style="height: 30px;line-height: 30px;">
                    <div style="width: 25%;text-align: right;float: left;">申请时间：</div>
                    <div style="float: left;" id="shTime"></div>
                  </div>
                  <div style="height: 30px;line-height: 30px;">
                    <div style="width: 25%;text-align: right;float: left;">目标公司：</div>
                    <div style="float: left;" id="shAddRess"></div>
                  </div>
                  <div style="height: 30px;line-height: 30px;">
                    <div style="width: 25%;text-align: right;float: left;">路线：</div>
                    <div style="float: left;" id="shJWD"></div>
                  </div>
                  <div style="height: 30px;line-height: 30px;">
                    <div style="width: 25%;text-align: right;float: left;">车辆：</div>
                    <div style="float: left;" id="GZJWD"></div>
                  </div>
                  <div style="height: 30px;line-height: 30px;">
                    <div style="width: 25%;text-align: right;float: left;">备注：</div>
                    <div style="float: left;" id=shBeiZhu></div>
                  </div>

                </div>
                <div>
                  <textarea rows="12" placeholder="审核意见" cols="65" id="memo" class="el-textarea__inner"
                    name="memo"></textarea>
                </div>

              </div>


              <div style="width: 100%;float: left;margin-top: 10px;margin-left: 30%;">

                <button class="layui-btn layui-btn-danger" style="margin-left: 0%;margin-right: 10%;"
                  id="RoleListAddBtn2" onclick="ceshiBtn2(2);return false;"><i
                    class='layui-icon'>&#x1006;</i>删除订单</button>
                <button class="layui-btn" style="margin-left: 0%;" id="RoleListAddBtn"
                  onclick="ceshiBtn2(1);return false;"><i class='layui-icon'>&#xe605;</i>重置订单状态</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="zezhaoceng4" id="zezhaoceng4">
        <div class="beijingCeng_t" style=" word-wrap: break-word;  word-break: break-all;  overflow: hidden;">
          <div id="beijingCengBtn4"
            style="position: absolute;z-index: 88;right: 13px;top: 10px;color:red;width: 20px;height: 20px;">
            <i class="layui-icon" style="font-size: 30px;">&#x1007;</i>
          </div>
          <div class="layui-row">
            <div class="layui-card">
              <div class="layui-card-body">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                  <legend><i class='layui-icon'>&#xe705;</i>审核意见</legend>
                </fieldset>
                <div class="layui-col-xs6" style="background-color: blueviolet">
                  <textarea rows="12" placeholder="审核意见" cols="65" id="memo2" class="el-textarea__inner2"
                    style="border:none;" name="memo"></textarea>
                </div>
                <div id="img2" class="layui-col-xs6 ;modal-body"
                  style="background-color: black;text-align: center;vertical-align: middle;overflow: auto;">
                </div>

              </div>

            </div>
            <div style="width: 100%;float: left;margin-top: 10px;margin-left: 0%;">
              <div class="inputStyle" style="width: 40%;float: left;">
                <div class="layui-form-mid" style="width: 80px;text-align: right">审批人:</div>
                <div class="layui-form-mid" id="username_ck" style="color:forestgreen"></div>
              </div>
              <div class="inputStyle" style="width: 55%;float: left;">
                <div class="layui-form-mid" style="width: 80px;text-align: right">审批日期:</div>
                <div class="layui-form-mid" id="sprq" style="color:forestgreen"></div>
              </div>


            </div>
          </div>
        </div>
      </div> -->
    </div>

  </div>
  </div>
  </div>
  <script src="../../assets/layui.all.js"></script>
  <script src="../../assets/jquery.js" type="text/javascript"></script>

  <script src="./kongjianFZ/zezhaoceng.js"></script>
  <script src="./kongjianFZ/djbhOrgwid.js"></script>
  <script src="./kongjianFZ/jiaoyan.js"></script>
  <script src="./kongjianFZ/tableZDY1.js"></script>
  <script src="./kongjianFZ/ziJianFZ.js"></script>

  <script src="../js/_URL.js"></script>
  <script>
    var table = layui.table;
    var $ = layui.$;
    var url = _url();
    var isshow = true;
    var url1 = _urlJson();
    var serverCode = _serverCode();
    var userDate = JSON.parse(window.sessionStorage.getItem("userNameList"));
    let listDate = "";

    let dataListTC = {
      ys_id: { "title": "运单号", "disable": true, "width": 180, "sort": true, "background": "#009688", "color": "#fff" },
      order_id: { "title": "订单号", "disable": true, "width": 180, "sort": true, "background": "", "color": "" },
      car_code: { "title": "车牌号", "disable": true, "width": 100, "sort": true, "background": "", "color": "" },
      userName: { "title": "司机", "disable": true, "width": 100, "sort": true, "background": "", "color": "" },
      fhrName: { "title": "发货人", "disable": true, "width": 100, "sort": true, "background": "", "color": "" },
      fhrPhone: { "title": "发货人电话", "disable": true, "width": 180, "sort": true, "background": "", "color": "" },
      shrName: { "title": "收货人", "disable": true, "width": 100, "sort": true, "background": "", "color": "" },
      hw_type: { "title": "货物类型", "disable": true, "width": 180, "sort": true, "background": "", "color": "" },
      createtime: { "title": "创建时间", "disable": true, "width": 100, "sort": true, "background": "", "color": "" },
    }
    let xuanzeIndex = 0;

    function shopListCKClick1(index) {
      xuanzeIndex = index;
      $("#shrLsld").html(listDate[index].lsid);
      $("#shrName").html(listDate[index].shrName);
      $("#shTime").html(listDate[index].createtime);
      $("#shAddRess").html(listDate[index].consignee_GSMC);
      $("#shJWD").html(listDate[index].luxian);
      $("#GZJWD").html(listDate[index].car_code);
      $("#shBeiZhu").html("暂无备注");
      var $input = document.getElementById("zezhaoceng3");
      $input.style.display = "block";
    }

    function ceshiBtn2(number) {
      let numBerStr = 0;
      if(number == 1){
        numBerStr = 0;
      }else{
        numBerStr = 2;
      }
      var data = "orderid=" + listDate[xuanzeIndex].order_id +
        "&ordertype=" + numBerStr;
      $GetJson(data, "zbshupdate1", function (date) {
        $layer.msg('修改成功', { icon: 6 });
        setTimeout(function () {
          window.location.reload()
        }, 1000);

      });
    }

    function shopListCKClick2(index) {
      if (!window.confirm("确认删除<" + listDate[index].id + ">联系方式吗?")) {
        return;
      }
      var data = "ID=" + listDate[index].id;
      $GetJson(data, "lxfsDelete", function (date) {
        $layer.msg('删除成功', { icon: 6 });
        init();
      });
    }

    function ceshiBtn() {
      RoleListWDate();
    };
    function RoleListWDate() {
      var data = "order_type=-7&province="+$("#guolutiaojian").val();
      $GetJson(data, "yundanselect34", function (date) {
        listDate = date;
        let dateListM = xuliehuaArr(date, true, 1, [5, "shopListCKClick1", "&#xe705;", "审批"], [3, "shopListCKClick2", "", ""], dataListTC, false, "#demo");
        table.render(dateListM);
      });
    }

    function init() {
      $("#kanjianBox").empty();
      let zzc = zezhaochengBox1("zezhaoceng4", "通讯录详情", "dowmBox");
      $(zzc).appendTo("#rongqi1");
      let InputStyleMy = inputStyle("过滤条件", "guolutiaojian", "请输入过滤条件");
      let ButtonStyleMy1 = ButtonStyle("查询按钮", 0, "", "ceshiBtn");
      $(InputStyleMy + ButtonStyleMy1).appendTo("#kanjianBox");
      RoleListWDate();
    }
    init();
  </script>
</body>

</html>