<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
  <link rel="stylesheet" href="../../assets/css/layui.css">
  <link rel="stylesheet" href="../../assets/css/view.css" />
  <link rel="stylesheet" href="../../assets/css/tankuang.css" />

  <link rel="icon" href="/favicon.ico">
  <title>人员管理</title>
  <style>
    html,
        body,
        #container {
          width: 100%;
          height: 100%;
        }
</style>
</head>

<body class="layui-view-body">
  <div class="layui-row">
    <div  >
      <div class="layui-content">
        <div class="layui-row">
          <div class="layui-card">
            <div class="layui-card-body">
              <div class="form-box">
                <div class="layui-form layui-form-item">
                  <div class="layui-col-xs3">
                    <div class="layui-form-mid" style="float: left;">过滤条件:</div>
                     <div class="layui-input-inline" style="width: 160px;">
                       <input type="text" autocomplete="off" class="layui-input" id="user_name">
                     </div>
                     </div>
                 
                  <button class="layui-btn layui-btn-blue" id="qryShopListBtn"><i class='layui-icon'>&#xe615;</i>查询</button>
                  <button class="layui-btn layui-btn-blue" style="margin-top: 5px;float:right;" onclick="addListDate()"><i
                    class="layui-icon">&#xe654;</i>添加人员</button>
                </div>
                 
                  <table id="demo"></table>
                  <div class="zezhaoceng3" id="zezhaoceng3">
                    <div class="beijingCeng4">
                      <div id="beijingCengBtn3"
                        style="position: absolute;z-index: 88;right: 13px;top: 10px;color:red;width: 20px;height: 20px;">
                        <i class="layui-icon" style="font-size: 30px;">&#x1007;</i>
                      </div>
                      <div id="container"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 

  <script src="../../assets/layui.all.js"></script>
  <script src="../../assets/jquery.js" type="text/javascript"></script>
  <script src="./kongjianFZ/zezhaoceng.js"></script>
  <script src="./kongjianFZ/djbhOrgwid.js"></script>
  <script src="./kongjianFZ/jiaoyan.js"></script>
  <script language="javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=1a335df4d12b9fe5bbbc44a0e39eccc6&plugin=AMap.GraspRoad"></script>

  <script src="../js/_URL.js"></script>
  <script>
    var element = layui.element;
    var table = layui.table;
    var $form = layui.form;
    var isTypebNum = 0;
    var laydate = layui.laydate;
    var $ = layui.$;
    var $layer = layui.layer;
    var DateListArr = "";
    var userDate = JSON.parse(window.sessionStorage.getItem("userNameList"));
    var isshow = true;
    var url = _url();
    var url1 = _urlJson();
    var serverCode = _serverCode();

    var BumenListArr = {};
    // 人员列表数据
    var RoleListArr = {};
    // 选中人员数据
    var RoleArr = {}
    // 外边选中人员数据
    var RoleWArr = {}
    var RoleListWArr = {}

    function addListDate() {
      var $input = document.getElementById("zezhaoceng3");
      $input.style.display = "block";
      $("#code2").css('visibility', 'visible');
      $("#t_bt").html("<legend>添加人员信息</legend>");
      $("#RoleListAddBtn").attr({
        "onclick": "f_save();"
      });
      document.getElementById('name').focus();
      $("#name").val("");
      $("#userCode").val("");
      $("#userPhone").val("");
      $("#userPSW").val("");
      $("#address").val("");
    }

    

    function RoleListWClick(index) {
      $layer.load();
      let MyRoleWArr = RoleListWArr[index];
      var data = "Userid="+MyRoleWArr.userid; //序列化表单数据 
      $.getJSON(url + "DingWeiSelect1?" + data,
        function (json) {
            VisitListWArr = json.Response.RDATA[0];
          $layer.closeAll('loading');
        //   var map = new AMap.Map('container', {
        //     center: [Number(VisitListWArr.jingdu), VisitListWArr.weidu],
        //     layers: [
        //         // 卫星
        //         new AMap.TileLayer.Satellite(),
        //         // 路网
        //         new AMap.TileLayer.RoadNet()
        //     ],
        //     zoom: 13
        // });
        let jingduM = Number(VisitListWArr.jingdu);
        let weiduM = Number(VisitListWArr.weidu);
          var map = new AMap.Map("container", {
              resizeEnable: true,
              center: [jingduM, weiduM],
              zoom: 16
          });
          map.clearMap();
          var marker = new AMap.Marker({
              map: map,
              position: [jingduM, weiduM]
          });
          var $input1 = document.getElementById("zezhaoceng3");
          $input1.style.display = "block";
          $("#code2").css('visibility', 'hidden');
              return;
            })
      // RoleWArr = RoleListWArr[index];
      // var $input1 = document.getElementById("zezhaoceng3");
      // $input1.style.display = "block";
      // $("#code2").css('visibility', 'hidden');
      // $("#RoleListAddBtn").attr({
      //   "onclick": "f_updata();"
      // });
      // $("#t_bt").html("<legend>修改人员信息</legend>");
      // $("#name").val(RoleWArr.userName);
      // $("#userCode").val(RoleWArr.userCode);
      // $("#userPhone").val(RoleWArr.userPhone);
      // $("#userPSW").val(RoleWArr.userPSW);
      // $("#address").val(RoleWArr.address);
      // $("#code").val(RoleWArr.userid);
      
    }
    //添加marker标记
function addMarker() {
    
}
    function f_save() {
      if ($("#name").val() == "") {
        layer.msg('名称不能为空', function () {
          return;
        });
        return;
      }
    
      $layer.load();
      var data ="userName="+ $("#name").val()+
                "&userPSW="+ $("#userPSW").val()+
               "&userCode="+ $("#userCode").val()+
               "&userPhone="+ $("#userPhone").val()+
              "&address="+ $("#address").val();
            

 
      $.getJSON(url +  "UserAdd?" +data,
        function (json) {
          if (json.Response.code > 0) {
            alert(json.Response.msg)
            $layer.closeAll('loading');
            var $input1 = document.getElementById("zezhaoceng3");
            $input1.style.display = "none";

            RoleListWDate("", "JH", $("#RoleListInput").val(), url, serverCode, "",
              function (
                date, RoleListArr1) {
                table.render(date);
                RoleListWArr = RoleListArr1;

              });

          } else {
            $layer.closeAll('loading');
            $layer.msg("没有数据", {
              icon: 5
            });
            return;
          }
        })
    }
    function f_updata() {
      ;
      $layer.load();
      var data ="userName="+ $("#name").val()+
                "&userPSW="+ $("#userPSW").val()+
               "&userCode="+ $("#userCode").val()+
               "&userPhone="+ $("#userPhone").val()+
              "&address="+ $("#address").val()+
              "&userid="+ $("#code").val();
   $.getJSON(url +  "userupdate?" +data,
        function (json) {
         if (json.Response.code > 0) {
          alert(json.Response.msg)
            $layer.closeAll('loading');

            var $input1 = document.getElementById("zezhaoceng3");
            $input1.style.display = "none";

            RoleListWDate("", "JH", $("#RoleListInput").val(), url, serverCode, "",
              function (  date, RoleListArr1) {
                table.render(date);
                RoleListWArr = RoleListArr1;

              });

          } else {
            $layer.closeAll('loading');
            $layer.msg("没有数据", {
              icon: 5
            });
            return;
          }
        })
    }

 


    function RoleListWDClick(index) {
      RoleWArr = RoleListWArr[index];
      if (window.confirm("确认删除")) {
        var data ="userid="+RoleWArr.userid;
        //alert(JSON.stringify(data))
        $.getJSON(url+ "userdelete?" +data,
          function (json) {
         
            if (json.Response.code > 0) {
          alert(json.Response.msg)
            $layer.closeAll('loading');

              window.location.reload();
            } else {
              $layer.msg("删除失败", {
                icon: 5
              });
              $layer.closeAll('loading');
            }
          })
      } else {
        return;
      }
    }
 

    layui.use(['form', 'element'], function () {
      var form = layui.form;
    });

    function RoleListWXR(dataList) {
      return {
        elem: '#demo',
        cols: [
          [ //标题栏
          {
                field: 'code',
                title: '编号',
                width: 90
              },{
                field: 'userCode',
                title: '登录名称',
                width: 150,
                //   sort: true
              },  {
                field: 'userName',
                title: '姓名',
                width: 120
              }, {
                field: 'userPhone',
                title: '手机号码',
                width: 180
              }, {
                field: 'address',
                title: '地址',
                width: 180,
                //   sort: true
              },  {
                field: 'createtime',
                title: '创建时间',
                width: 200,
                //   sort: true
              },{
              field: 'BtnStyle',
              width: 120,
              title: '操作',
              fixed: 'right',
            }
          ]
        ],
        data: dataList,
        skin: 'line' //表格风格
          ,
        even: true,
        page: true //是否显示分页
          ,
        limits: [10, 20],
        limit: 10,
        done: function (res, page, count) {
          var that = this.elem.next();
          //alert(JSON.stringify(res))

          console.log(that);
          res.data.forEach(function (item, index) {

            // var tr = that.find(".layui-table-box tbody tr[data-index='" + index + "']").attr("onclick",
            //   "search2('" + index + "','" + res.data[index].ID + "')");

          });
        }
      };
    }
    function RoleListWXH(dataList) {
      for (var i = 0; i < dataList.length; i++) {
        dataList[i].code=(i+1);
        dataList[i].BtnStyle = "<div>" +
          "<div style='float: left;padding: 0px 5px;background: #177ce3;border-radius: 2px;color: #fff;' onclick='RoleListWClick(" +
          i + ")'><i class='layui-icon'>&#xe715;</i> 查看定位</div>" +
          "</div>"
      }
      return RoleListWXR(dataList);
    }

    function RoleListWDate(Staff_ID, djlx, Value1, url, serverCode, USERID, callback) {
      $layer.load();
      var data = "username="+$("#user_name").val(); //序列化表单数据 
        $.getJSON(url + "getAll?" + data,
          function (json) {
              VisitListWArr = json.Response.RDATA;
            $layer.closeAll('loading');
            callback(RoleListWXH(VisitListWArr), VisitListWArr);
            return;
          })
    }

    $("#qryShopListBtn").click(function(){

      RoleListWDate(userDate.USERID, "JH", $("#RoleListInput").val(), url, serverCode, userDate.USERCODE, function (
        date, RoleListArr1) {
        table.render(date);
        RoleListWArr = RoleListArr1;
      });

    });
    $(document).ready(function () {
      RoleListWDate(userDate.USERID, "JH", $("#RoleListInput").val(), url, serverCode, userDate.USERCODE, function (
        date, RoleListArr1) {
        table.render(date);
        RoleListWArr = RoleListArr1;
      });
      //常规用法
      laydate.render({
        elem: '#G_Date',
        value: timeDate1(0),
        isInitValue: true
      });
 
      
       
    
    })
  </script>
</body>

</html>